.login{
    background-image: url('https://picsum.photos/1600/900');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 175, 175, 0.3);
    font-family: 'Girassol', cursive;
}